<div class="index">
        <div class="header-index">
            <div class="header-index-left">
                <a class="header-index-item" href="/">Movies</a>
                <a class="header-index-item" href="#">Series</a>
                <a class="header-index-item" href="#">TV Shows</a>
            </div>
            <div class="header-index-right">
                <div class="header-index-icon icon-right">
                    <i class="far fa-signal-stream"></i>
                </div>
                <div class="header-index-icon icon-right">
                    <i class="far fa-bell"></i>
                </div>
                <div class="header-index-icon icon-right">
                    <i class="far fa-bars"></i>
                </div>
            </div>
        </div>

        <div class="container-watch">
            <div class="box-watch">
                <div class="title-box">
                    <div class="title-name">
                        <h1 style="padding: 0; color: #de4545; padding: 24px 0; font-size: 1.3em"> {{movies.title}}</h1>
                    </div>
                    <div class="title-date">{{movies.year}}</div>
                </div>
                <video poster="{{movies.image}}" id="video-style" width="800px" height="450px" controls>
                    <source src="https://dl.dropboxusercontent.com/s/{{movies.url}}/" type='video/mp4'/>
                </video>
            </div>

            <div class="related-watch">
                <div class="tittle-relate">
                    <span class="header-related"> Danh sách phim liên quan </span>
                </div>

                <div class="embla box-related">
                    <div class="embla-container detail-relate-item">
                        {{#each_when movies "select" "1"}}
                        <div class="embla__slide item-1">
                            <div class="image-item">
                                <img class="image" src="{{this.image}}" alt="">
                                <div class="info-item">
                                    <h2 class="title-info">{{this.title}}</h2>
                                    <h3 class="year-info">{{this.year}}</h3>
                                </div>
                            </div>
                        </div>
                        {{/each_when}}
                    </div>
                    <div class="button-nav">
                        <button class="detail-prev embla__prev"></button>
                        <button class="detail-next embla__next"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const player = new Plyr('#video-style',{
            ratio: '16:9',
            speed: { selected: 1, options: [0.5, 0.75, 1, 1.25, 1.5, 1.75, 2] },
            quality: { default: 1080, options: [ 1440, 1080, 720, 480, 360] }
        });
    // Expose player so it can be used from the console
        window.player = player;
    </script>