<style>
    body{
        padding: 96px 0 0 16px;
    }

    header{
        display: none;
    }

    .btn-success{
        color: #fff;
        font-weight: 500;
        font-size: 1.1em;
    }
</style>
<div>
    <form method="POST" action="/movies/{{movies._id}}?_method=PUT">
        <div class="form-group">
            <label for="select">Mã sản phẩm</label>
            <input value="{{movies.select}}" class="form-control" id="select" name="select">
        </div>
        <div class="form-group">
            <label for="name">Tên sản phẩm</label>
            <input value="{{movies.name}}" type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <input value="{{movies.description}}" type="text" class="form-control" id="description" name="description">
        </div>
        <div class="form-group">
            <label for="image">Đường dẫn</label>
            <input value="{{movies.image}}" type="text" class="form-control" id="image" name="image">
        </div>
        <div class="form-group">
            <label for="url">Video</label>
            <input value="{{movies.url}}" type="text" class="form-control" id="url" name="url">
        </div>
        <button type="submit" class="btn btn-success">Cập nhật</button>
    </form>
</div>