<style>
    body{
        padding: 96px 0 0 16px;
    }

    header{
        display: none;
    }

    .btn-success{
        color: #fff;
        font-weight: 500;
        font-size: 1.1em;
    }
</style>
<div>
    <form method="POST" action="/movies/{{movies._id}}?_method=PUT">
        <div class="form-group">
            <label for="select">Loại phim</label>
            <input value="{{movies.select}}" class="form-control" id="select" name="select">
        </div>
        <div class="form-group">
            <label for="title">Tên phim</label>
            <input value="{{movies.title}}" type="text" class="form-control" id="title" name="title">
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <input value="{{movies.description}}" type="text" class="form-control" id="description" name="description">
        </div>
        <div class="form-group">
            <label for="year">Năm phát hành</label>
            <input value="{{movies.year}}" type="text" class="form-control" id="year" name="year">
        </div>
        <div class="form-group">
            <label for="image">Đường dẫn</label>
            <input value="{{movies.image}}" type="text" class="form-control" id="image" name="image">
        </div>
        <div class="form-group">
            <label for="url">Video</label>
            <input value="{{movies.url}}" type="text" class="form-control" id="url" name="url">
        </div>
        <div class="form-group">
            <label for="rate">Đánh giá</label>
            <input value="{{movies.rate}}" type="text" class="form-control" id="rate" name="rate">
        </div>
        <button type="submit" class="btn btn-success">Cập nhật</button>
    </form>
</div>